<template name="galery">
	<h3>Galery</h3>
		 <link href="css/STYLES.CSS" rel="stylesheet"/>
		 <script src="SCRIPTS/jquery-1.7.2.min.js">
		 
		 </script>
		 <script src="SCRIPTS/jquery.easing.min.js">
		 
		 </script>
		 <script src="SCRIPTS/jquery.efecto.js">
		 </script>
		 <script>
				$(document).ready(function(){
						$(".galeria").efecto();
				});
				
		 
		 </script>
		<ul class="galeria">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div><li><img src="/cuatro.jpg"></li></div>
				<div><li><img src="/1.jpg"></li></div>
				<div><li><img src="/p1.jpg"></li></div>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div><li><img src="/7.jpg"></li></div>
				<div><li><img src="/2.jpg"></li></div>
				<div><li><img src="/seis.jpg"></li></div>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div><li><img src="/10.JPG"></li></div>
				<div><li><img src="/5.jpg"></li></div>
				<div><li><img src="/p9.jpg"></li></div>
			</div>
		</ul>
			
</template>